body {
  background-image: url("../png/dark_back.png");
}

.main {
  position: absolute;
  height: 100%;
  width: 70%;
  right: 10%;
}

.welcome,
.play,
.frame {
  position: absolute;
}

.frame {
  background-image: url("../png/main_frame.png");
  width: 100%;
  left: 0;
}

.welcome {
  font-size: 1.8vw;
  left: 20%;
  width: 60%;
}

.play {
  align-items: flex-end;
}

.control,
.animals {
  position: relative;
  z-index: 3;

  display: flex;
}

.animals {
  width: 80%;
  height: 40%;
  margin: 20% auto auto;
  justify-content: space-between;
}

.back_animal {
  background-image: url("../png/not_chosen.png");
  align-items: flex-end;
  width: 30%;
}

.back_animal.chosen {
  background-image: url("../png/chosen.png");
}

.animals img {
  max-height: 60%;
  max-width: 100%;
}

.control {
  width: 70%;
  margin: 2% auto auto;
  justify-content: space-between;
}

.control > div {
  width: 50px;
  height: 50px;
}

.min,
.max {
  background-image: url("../png/shop_button.png");
}

.minus {
  background-image: url("../png/left.png");
}

.plus {
  background-image: url("../png/right.png");
}

.bet_amount {
  background-image: url("../png/bet_button.png");
  width: 25% !important;
}

.shop {
  position: absolute;
  left: 2%;
  top: 20%;

  flex-direction: column;
  justify-content: space-between;

  background-image: url("../png/small_frame.png");
  width: 108px;
  height: 141px;
}

.shop img {
  margin-top: 25%;
  max-width: 60%;
  max-height: 60%;
}

.shop_button {
  width: 80%;
  height: 20%;
  background-image: url("../png/button.png");
}

@media screen and (max-width: 600px) {
  .balance_field,
  .shop {
    z-index: 3;
  }
}

@media screen and (min-height: 750px) {
  .welcome {
    font-size: 24px;
  }

  .balance_field {
    width: 250px;
    height: 92px;
    z-index: 3;
    font-size: 32px;
  }

  .shop {
    width: 216px;
    height: 282px;
    z-index: 4;
    font-size: 32px;
  }

  .control > div {
    width: 90px;
    height: 90px;
    font-size: 32px;
  }
}
